@model IEnumerable<UpcomingEvents.Models.EventModel>
    

<div class="jumbotron">
    <h1>Welcome to My Events Page</h1>   
</div>

@foreach (var eve in Model)
{
    <div class="row">
        <div class="col-md-12">
             <h2>@eve.title</h2>
        </div>        
    </div>
}
