@model UpcomingEvents.Models.OrderModel


@if (Model.Tickets.Any())
{
    <h3>Your Cart:</h3>
    <ul>
        @foreach (var item in Model.Tickets)
        {
            <li>@item.Id</li>
        }
    </ul>
    @Html.ActionLink("Checkout", "Checkout", "Home")
}
else
{
    <h4><i>your cart is empty :-(</i></h4>
}

@*The partial is being displayed on the page but when something is added to the cart the changes are not reflected on the page.*@
